// Specific CSS for your home-page
.homepage {

* {
   box-sizing: border-box;
   }

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: #FFFFFF;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 80px;
  font-weight: bold;
}

.banner p {
  font-size: 22px;
  color: #FFFFFF;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  opacity: .7;
  font-weight: bold;
}

.btn-flat {
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  background: $salmon;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #ff8e71;
  color: white;
}

.introduction {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: #FFFFFF;
}

.introduction-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px 15px;
  background-color: $salmon;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.bons-plan {
  background-color: #e8e8e8;
}

// .button-plan {

// }

.plans {
  padding-top: 30px;
  padding-left: 40px;
  color: #0E0000;
}

.cards {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  justify-content: space-evenly;
}

.cards p {
  font-size: 13px;
}

.card {
  height: 300px;
  width: 30vw;
  border-radius: 10px;
  border: solid 1px #e5e5e5;
  align-self: center;
  color: black;
}

.card-image {
  background-position: center;
  background-size: cover;
  height: 80%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.card-infos {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding-left: 1em;
  line-height: 7px;
}
}

.cards a:hover {
  text-decoration: none;
}

@media (min-width: 576px) {
  .homepage .cards {
    grid-template-columns: 1fr;
      .card{
        width: 50vw;
    }
  }
}

@media (min-width: 768px) {
  .homepage .cards {
    grid-template-columns: 1fr 1fr;
      .card{
        width: 30vw;
    }
  }
}

@media (min-width: 992px) {
  .homepage .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
