.login {

   h2{
    font-size: 40px;
    text-align: center;
    align-content: center;
   }

   .btn-login {
    background-color: #E76F51;
    text-align: center;
      input {
      color: white;
      }
   }
}
