.profil {


  margin-bottom: 40px;
  padding-left: 40px;

  .card-product {
    overflow: hidden;
    height: 100px;
    width: 450px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    margin-top: 9px;
    margin-right: 0;
    border-radius: 10px;
  }

  .card-product img {
    height: 100%;
    width: 100px;
    object-fit: cover;
    text-align: left;
  }

  .card-product h2 {
    font-size: 16px;
    font-weight: bold;

  }

  .card-product p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 3px;
    text-align: left;
  }

  .card-product .card-product-infos {
    padding: 30px;
  }

.btn-success  .btn-danger{
    height: 10px;
  }


  .btn-flat {
  margin-bottom: 5px;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  background: $salmon;
  transition: background 0.3s ease;
  text-align: center;
}

.btn-flat:hover {
  background: #ff8e71;
  color: white;
}

.instrument-container {
  width: 150px;
  height: 150px;
  border: thin;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 8px;
  border-radius: 7px;


  p {
  color : $white;
  font-weight: 700;
  margin-top: 20px;
  text-align: center;
  }

  .price {
    font-weight: 1200;
    text-align: center;
    margin-bottom: 1px;
  }

}



.btn-request:hover {
  color: white;
}


}
