.profil {

  margin: 20px;


  .card-product {
    overflow: hidden;
    height: 120px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    margin-top: 9px;
    border-radius: 10px;
  }

  .card-product img {
    height: 100%;
    width: 150px;
    object-fit: cover;
    text-align: left;
  }

  .card-product h2 {
    font-size: 16px;
    font-weight: bold;

  }

  .card-product p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-top: 8px;
    text-align: right;
  }

  .card-product .card-product-infos {
    padding: 30px;
  }

  .btn-flat {
  margin-bottom: 5px;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  background: $salmon;
  transition: background 0.3s ease;
  text-align: center;
}

.btn-flat:hover {
  background: #ff8e71;
  color: white;
}

.instrument-container {
  width: 150px;
  height: 150px;
  border: thin;
  text-align: center;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 9px;
  border-radius: 7px;


  p {
  color : $white;
  font-weight: 700;
  margin-top: 30px;
  }

  .price {
    font-weight: 1200;
  }

}

.btn-request {
  color: white;
  padding: 1px;
  border-radius: 4px;
  background: #264653;
  transition: background 0.3s ease;
}

.btn-request:hover {
  color: white;
}

}
