.card-instrument-inline {
  overflow: hidden;
  height: 120px;
  width: 500px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-instrument-inline img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.card-instrument-inline h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-instrument-inline p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-instrument-inline .card-instrument-inline-infos {
  padding: 16px;
}

.text-instrument-inline {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.btn btn-primary {
  text-align: right;
}

.map-card-instruments {

}

.container {
  display: flex;
}