.location-instrument-show {
  font-style: italic;
}
.price_day_show {
  text-align: right;
  color: white;
  p {
    margin-bottom: 0;
    background-color: black;
    padding: 5px 5px 5px 25px;
  }
}

.image-show-instrument{
  width: 100%;
  img{
    width:100%;
  }
}

// .price_per_day{

// }
